# ============================================
# APP CONFIG
# ============================================
APP_PORT=8080
DB_TYPE=postgres

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=ms_users_db
DB_DEV_NAME=ms_users_db_dev
DB_SSLMODE=disable

# Format: postgres://<user>:<password>@<host>:<port>/<dbname>?sslmode=<mode>
DB_URL=postgres://postgres:your_password@localhost:5432/ms_users_db?sslmode=disable
DB_DEV_URL=postgres://postgres:your_password@localhost:5432/ms_users_db_dev?sslmode=disable

# ============================================
# SECURITY CONFIGURATION
# ============================================
JWT_SECRET=your_super_secret_jwt_key_here
API_KEY=your_internal_api_key_here
